@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Safeer Retrospective project</h1>
    <p class="lead">Safeer Retrospective project help us for estimating and defining teamembers who are working or worked in project's sprints.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>EStimation</h2>
        <p>
           This pega for estimation per sprint from agile team member.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Voting</h2>
        <p>
            This pega for voting per sprint from agile team member.
        </p>    </div>
    <div class="col-md-4">
        <h2>Sprint Details</h2>
        <p>
            This pega for showing details foreach sprint.
        </p>
    </div>
</div>